#top-jumbo{
padding: 0 0 400px;
background: rgb(244,244,244); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(244,244,244,1) 0%, rgba(41,137,216,1) 50%, rgba(255,246,242,1) 50%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(244,244,244,1) 0%,rgba(41,137,216,1) 50%,rgba(255,246,242,1) 50%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(244,244,244,1) 0%,rgba(41,137,216,1) 50%,rgba(255,246,242,1) 50%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
#top-jumbo{
  content: " ";
  display: table;
  clear: both;
}
#top-jumbo .left-side{
width: 40%;
display: inline-block;
float: left;
}
#top-jumbo .left-side .large-number{
font-size: 300px;
font-weight: 700;
opacity: .1;
color:#4C44C1;
position: relative;
left: -26px;
top:-10px;
z-index: 1;
}
#top-jumbo .left-side .info-container{
  position: relative;
  top: -110px;
}
#top-jumbo .left-side .info-container p{
  color: #aaacaf;
  font-size: .7rem;
  line-height: 2;

}
#top-jumbo .left-side .info-container h1{
color: #6066F2;
font-size: 3.5rem;
text-transform: capitalize;
margin-bottom: 1rem;

}
#top-jumbo .left-side .info-container .email-area{
  background: white;
  border-radius: 50px;
  display: inline-block;
  padding: 10px;
}
#top-jumbo .left-side .info-container .email-area .far{
font-size: 2rem;
position: relative;
top: 7px;
margin-left: -2px;
opacity: .1;

}
#top-jumbo .left-side .info-container .email-area input[type="email"]{
background: white;
border: none;
padding: 10px;
width: 230px;

}
#top-jumbo .left-side .info-container .email-area button{
  background: #6066F2;
  cursor: pointer;
  border-radius: 50px;
  padding: 15px 50px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

#top-jumbo .right-side{
  width: 60%;
  display: inline-block;
  float: left;
  padding: 0 40px;
}
#top-jumbo .right-side img{
  width: 100%;


}
/*
<div class="container">
  <div class="left-side">
    <div class="large-number">
      B3
      </div>
      <h1>Premium headphones <br>
        In your ears
      </h1>
      <p>Lorem ipsum dolor sit amet,que quae rec</p>
      <form class="email-area">
        <i class="fas fa-envelope"></i>
        <input type="email" name="email" placeholder="write your email"value="">
        <button type="submit" name="button">send</button>
      </form>

  <div class="right-side">
    <img src="img/sneakers.png" alt="">
  </div>

</div>
*/
